<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
{% load static %}

<style>
    
</style>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <ul class="nav ">
    <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    </ul>
    </nav> -->
    <div class="container-fluid text-center">
        <div class="row text-center" >
            <div class="col-md-6 col-sm-3 col-6 bg-success   text-center" style="height:50vh" >
                <div class="card p-5 m-5" id="card"
                style="border-radius: 5px; padding: 0px; border: 0px;" data-tilt="" data-tilt-scale="0.95"
                style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="h1">NLP1</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6 bg-warning text-center"style="height:50vh" >
                <div class="card p-5 m-5" id="card1"
                style="border-radius: 5px;  padding: 0px; border: 0px;" data-tilt="" data-tilt-scale="0.95"
                style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="h1">NLP2</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-6 bg-danger  " style="height:50vh" >
                <div class="card p-5 m-5" id="card2"
                style="border-radius: 5px;  padding: 0px; border: 0px;" data-tilt="" data-tilt-scale="0.95"
                style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="h1">NLP3</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-6 bg-primary " style="height:50vh">
                <div class="card p-5 m-5" id="card3"
                style="border-radius: 5px;  padding: 0px; border: 0px;" data-tilt="" data-tilt-scale="0.95"
                style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="h1">NLP4</div>
                </div>
            </div>
        </div>
      </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
    /* Store the element in el */

</script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>